.Home{
	width: 100%;
	min-height: 2.34rem;
	padding: 0 0.15rem;
	background: linear-gradient(160deg, #ff112e 220px,#ffffff 220px);
}
.Home .search{
	width: 100%;
	padding-top: 0.1rem;
	margin-bottom: 0.1rem;
	height: 0.4rem;
	position: relative;

}
.Home .search span{
	width: 0.22rem;
	height: 0.22rem;
	float: left;
	color: #fff;
	font-size: .10rem;
	margin-right: 0.10rem;
}

.Home .search .searchIcone{
	position: absolute;
	left: .4rem;
	font-size: 0.14rem;
}
.Home .search i{
	width: 0.22rem;
	height: 0.22rem;
	font-size: 0.22rem;
	line-height: 0.3rem;
	float: left;
	color: #fff;
}
.Home .search input{
	width: 2.34rem;
	height: .3rem;
	float: left;
	border: 0;
	outline:none;
    background-color: rgba(255,255,255,0.35);
    padding:  0.04rem  0.12rem 0.04rem 0.30rem;
    caret-color: #fff;
    margin-right: 0.15rem;
}
.Home .search input::-webkit-input-placeholder { color:#fff; }

.Home .search input::-moz-placeholder { color:#00f; }

.Home .search .messageIcone{
	float: right;
}



.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.ant-carousel .slick-dots{
	display: block !important;
}