.Mine{
	width: 100%;
	height: auto;
}

.Mine .mine_first{
	width: 100%;
	height: 0.44rem;
	background: #fff;
}

.Mine .mine_first i{
	width: 0.44rem;
	height: 0.44rem;
	text-align: center;
	line-height: 0.44rem;
	font-size: 0.44rem;
	color: #222;
	float: left;
}
.Mine .mine_first h3{
	width: 2.87rem;
	height: 0.44rem;
	font-size: 0.18rem;
	text-align: center;
	line-height: 0.44rem;
	float: left;
}
.Mine .mine_first p{
	width: 0.44rem;
	height: 0.44rem;
	line-height: 0.18rem;
	text-align: center;
	float: left;
	font-size: 44px;
}



.login {
  padding: 2%;
  margin-top: 0.5rem;
  height: auto;
  overflow: hidden;
  font-size: 0.20rem;
}

.login dl {
  width: 100%;
  height: 0.60rem;
  margin-top:0. 8rem;
}

.login dl dt {
  width: 22%;
  height: 0.60rem;
  text-align: right;
  line-height: 0.60rem;
  float: left;
}

.login dl dd {
  width: 65%;
  height: 0.60rem;

  float: right;
}

.login dl dd input {
  height: 0.26rem;
  float: left;
  margin-top: 0.19rem;
  margin-left: 0.10rem;
}
.but_only{
	width: 100%;
	height: 0.42rem;
	text-align: center;
	margin-top: 0.20rem;
}
.login_but{
	margin:0 auto;
	width: 90%;
	height: 0.42rem;
    background-color: #16cc90;
    display: inline-block;
}
.regist_but{
	font-size: 0.16rem;
	color: #666;
	margin-left: 5%;
}













